name: Renovate

on:
  schedule:
  # Run every Monday at 5:00 AM UTC
    - cron: '0 5 * * 1'
  workflow_dispatch:
    inputs:
      log_level:
        description: 'Log level'
        required: false
        default: 'info'
        type: choice
        options:
        - info
        - debug
        - trace
      dry_run:
        description: 'Dry run (no PRs will be created)'
        required: false
        default: false
        type: boolean
      force_refresh:
        description: 'Force refresh all dependencies'
        required: false
        default: false
        type: boolean

permissions:
  contents: write # To create branches and commits
  pull-requests: write # To create and update pull requests
  issues: write # For dependency dashboard (if enabled)
  checks: read # To read check status
  statuses: read # To read commit statuses
  actions: read # To read workflow runs
  security-events: read # To read security events

jobs:
  renovate:
    uses: resizes/github-actions/.github/workflows/renovate.yml@v1
    with:
      log_level: ${{ inputs.log_level }}
      dry_run: ${{ inputs.dry_run }}
      force_refresh: ${{ inputs.force_refresh }}
      runner: 'ubuntu-latest'
      github_app_id: '2169914'
      owner: 'Resizes'
      repositories: |
        ${{ github.event.repository.name }}
    secrets:
      github_app_private_key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
  
  send_to_dc:
    needs: renovate
    runs-on: ubuntu-latest
    if: ${{ needs.renovate.outputs.pr_count != '0' }}
    steps:
      - name: Prepare Discord embeds
        run: |
          COLOR="65280"  # Green
          TITLE="Renovate PRs created!"
          DESCRIPTION="**Renovate PRs were created**\n\n"

          DESCRIPTION+="**Repository:** [${{ github.repository }}](https://github.com/${{ github.repository }}) \n"
          DESCRIPTION+="**PR Count:** ${{ needs.renovate.outputs.pr_count }}\n\n"

          EMBEDS_PAYLOAD="[{
              \"title\": \"$TITLE\",
              \"description\": \"$DESCRIPTION\",
              \"color\": $COLOR
            }]"

          # Export embeds into ENV the same way your working workflow does
          echo "EMBEDS_PAYLOAD<<EOF" >> $GITHUB_ENV
          echo $EMBEDS_PAYLOAD >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Send Discord message
        uses: resizes/github-actions/discord/post-message@v1
        with:
          discord_channel_id: ${{ secrets.RENOVATE_UPDATE_DISCORD_CHANNEL_ID }}
          discord_bot_token: ${{ secrets.RENOVATE_APP_BOT_DISCORD_TOKEN }}
          message_embeds: ${{ env.EMBEDS_PAYLOAD }}
